* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/images/banner.png);
    position: relative;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: aliceblue;
    text-decoration: none;
}


/* this is for effect on menu */

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: yellow;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a:hover {
    color: yellow;
}


/* --------- */

.text-box {
    color: #fff;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    position: relative;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    font-size: 14px;
    margin: 15px 0 40px;
}

nav .fa {
    display: none;
}


/* this is for responsive header code */

@media(max-width:700px) {
    .text-box h1 {
        font-size: 25px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links ul {
        margin-top: 20px;
    }
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        flex: flex-start;
        margin: auto;
        display: block;
        text-align: center;
        background: yellow;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after {
        width: 70%;
    }
    .nav-links ul li a:hover {
        color: yellow;
    }
    .nav-links {
        height: 100vh;
        width: 200px;
        position: fixed;
        background-color: #f44336;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 22px;
    }
    .nav-links ul {
        padding: 30px;
    }
}

nav div i {
    margin: 20px 20px 0px 20px;
}


/* ----- courses ----- */

.course {
    width: 80%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

.course h1 {
    font-size: 40px;
    font-weight: 600;
}

.course p {
    margin: 20px;
    color: #777;
    font-size: 14px;
}

.row {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background-color: #fff4f4;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col h3 {
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
}

.course-col:hover {
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .course h1 {
        font-size: 30px;
        font-weight: 600;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .course-col {
        margin-bottom: 10%;
    }
}


/* ---- Campus ---- */

.campus {
    margin: auto;
    width: 70%;
    text-align: center;
}

.campus h1 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
}

.campus p {
    margin: 20px;
    color: #777;
    font-size: 14px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    width: 100%;
    height: 100%;
    background: rgba(226, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: transparent;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    margin-bottom: 15px;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/* ---- facilities---- */

.facilities {
    padding-top: 100px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.facilities h1 {
    font-weight: 600;
    font-size: 32px;
}

.facilities p {
    font-size: 14px;
    color: #777;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

.facilities-col h3 {
    text-align: left;
    margin-bottom: 15px;
}


/* ---- testimonials ---- */

.testimonieals {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonieals h1 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
}

.testimonial-cols {
    width: 80%;
    flex-basis: 44%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin: 5%;
    text-align: left;
    background-color: #fff4f4;
    cursor: pointer;
}

.testimonial-cols img {
    padding: 10px;
    margin-right: 20px;
    height: 44px;
    border-radius: 50%;
}

.testimonial-cols h3 {
    margin-top: 20px;
    text-align: left;
}

.testimonial-cols .fa {
    color: #f44336;
}

.testimonial-cols #half {
    color: #f44336;
}

@media(max-width:700px) {
    .testimonial-cols img {
        margin-right: 10px;
        border-radius: 50%;
    }
}


/* ---- cta --- */

.cta {
    width: 80%;
    margin: 100px auto;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
}

@media(max-width:700px) {
    .cta h1 {
        font-size: 15px;
    }
}


/* ------- footer -------- */

.footer {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.footer p {
    color: #777;
}

.footer h4 {
    margin-bottom: 40px;
}

.footer .icons {
    padding: 40px;
}

.icons .fa-brands {
    padding: 0 12px;
    margin: 20px auto;
    color: #f44336;
    cursor: pointer;
}

.fa-solid {
    padding: 8px;
    color: #f44336;
}

.footer .love {
    color: #fff;
}


/* ---------------- about us page --------------- */

.sub-header {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(9, 4, 30, 0.7), rgba(9, 4, 30, 0.7)), url(/images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col h1 {
    padding: 30px 0;
}

.about-col p {
    margin-bottom: 25px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
    transition: 0.5s;
}

.red-btn:hover {
    color: white;
}


/* --------- certificates ----------- */

.blog-content {
    width: 80%;
    padding: 60px 0;
    margin: auto;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background-color: #f44336;
    color: white;
    padding: 7px 0;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.blog-right div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 8px;
    box-sizing: border-box;
    color: #555;
}

.comment-box {
    border: 1px solid black;
    padding: 30px 20px;
    margin: 50px 0;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
textarea {
    width: 100%;
    background-color: rgb(235, 230, 230);
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}


/* ------- location ------- */

.location {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.location iframe {
    width: 100%;
}


/* ----------  contact us -------- */

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-cols {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-cols div {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.contact-cols div p {
    padding: 0;
    color: #555;
}

.contact-cols div h5 {
    font-size: 20px;
    color: #555;
    margin-bottom: 5px;
}

.contact-cols input,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    box-sizing: border-box;
}

.contact-cols .red-btn {
    margin-bottom: 70px;
}